/* .card{
    flex-direction: row;
    align-items: center;
  }
  
.card-img {
    width: 50px;
    border-radius: 50%;
} */

.ravi{
   position:fixed;
   
}

html{
  overflow-x: hidden;
  width: 100vw;
}



@media screen and (max-width:900px) {

  .mobileV{display: block;}

  .desktopV{
    display: none;
  }
  .cir{display: none;}

}

@media screen and (min-width:900px) {

  .mobileV{display: none;}

  .desktopV{
    display: block;
  }
  .cir{display: none;}

}
