/* prevents the club info text from changing to default link styling */
.clubInfo{
  text-decoration: none;
  color: black;
}

/* previous stylying remains the same even on hover */
.clubInfo:hover{color: black;}

.ravi{
   position:fixed;
   
}

html{
  overflow-x: hidden;
  width: 100vw;
}


/* display for phone screens */
@media screen and (max-width:900px) {

  .mobileV{display: block;}

  .desktopV{
    display: none;
  }
  .cir{display: none;}

}

/* display for tablets */
@media screen and (min-width:900px) {

  .mobileV{display: none;}

  .desktopV{
    display: block;
  }
  .cir{display: none;}

}
