/* .card{
    flex-direction: row;
    align-items: center;
  }
  
.card-img {
    width: 50px;
    border-radius: 50%;
} */

.ravi{
   position:fixed;
   
}



@media screen and (max-width:420px) {

  .mobileV{display: block;}

  .desktopV{
    display: none;
  }
  .cir{display: none;}

}