/* file imports */
@import url(./colors.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

.navbar{
    background-color: var(--navbar_bg);
    font-size: 1.25vw;
    height: 13%;
    
}

#title
{
    /* Mountain House Computer Science Pathway */
    position: absolute;
    width: 40%;
    height: 35%;
    left: 10%;
    top: 40%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    /* font-size: 70px; */
    font-size:4vw; /* use vw for any text size to make it responsive*/
    line-height: 130%;
}

#learnMore {
    position: absolute;
    width: 15%;
    height: 8%;
    left: 10%;
    top: 77%;

    background: var(--btn_color);
    border: 0;
    border-radius: 9px;

    font-size: 1.5vw;
    font-weight: bold;
}

.cardStack {
    position: absolute;
    width: 30%;
    height: 60%;

    /* background: url(undraw_feeling_proud_qne1.png); */
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 26px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
#topCard {
    padding: 2%;
    right: 10%;
    top: 205px;
    background-color: #fff;
}
#bottomCard {
    right: 15%;
    top: 261px;
}

.header {
    /* “Classes made for success” */
    position: absolute;
    width: 50%;
    height: 8%;
    /* left: 313px; */
    left: 25%;
    align-items: center;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 59px;
    text-align: center;
}
.cardInfo {
    /* position: absolute; */
    margin-right: 3%;
    height: 29vw;
    background-color: #fff;
    box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.cardText{
    font-size: 1.5vw;
    position: absolute;
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


#footer {
    background-color: var(--navbar_bg);
    width: 100%;
    position: absolute;
    top: 365%;
    color: white;
}

.blue_circle{
    background-color: #00C2FF;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: -10%;
    top: 10%;
    margin-left:3vw;
    margin-top:40vh;

}


.blue_circle_1 {
    background-color: #00C2FF;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: -10%;
    top: 13%;
   

}

.club_image{


    background: url(image.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width:50%;
}

html{
    overflow-x: hidden;
}

