/* file imports */
@import url(./colors.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.navbar{
    background-color: var(--navbar_bg);
    font-size: 20px;
}