
@media only screen and (max-width: 600px) {
    .nav_links {
        visibility: hidden;
    }

    #navBtn {
        visibility: hidden;
    }

    .dropdowndiv {
        visibility: initial;
    }

    header {
        height: 10vh;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav_links {
        visibility: hidden;
    }

    #navBtn {
        visibility: hidden;
    }

    .dropdowndiv {
        visibility: initial;
    }

    header {
        height: 10vh;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .nav_links {
        visibility: initial;
    }

    #navBtn {
        visibility: initial;
    }

    .dropdowndiv {
        visibility: hidden;
    }

    header {
        height: 10vh;
    }
}  */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav_links {
        visibility: initial;
    }

    #navBtn {
        visibility: initial;
    }

    .dropdowndiv {
        visibility: hidden;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav_links {
        visibility: initial;
    }

    #navBtn {
        visibility: initial;
    }

    .dropdowndiv {
        visibility: hidden;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    padding-right: 50vw;
}

.dropdown-content a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    top: 0;
}

.nav_links {
    list-style: none;
    margin-top: 10px;
    margin-left: 20vw;
    text-decoration: none;

}

.nav_links a:hover {
    color: white
}

.nav_links a {
    text-decoration: none;
    color: white;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.navBtn {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: white;
}

